* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 5000px;
    ;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    background-color:#212529;
    position: sticky;
    top: 0;

    padding: 20px 0;

}

.container {
    margin: auto;
    width: 80%;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.logo img {
    width: 180px;
    display: block;
}

.header .nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.header .nav a {
    color: #fff;
}
.welcome{
    height: 700px;
    background-image: url(../image/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.welcome .wel{
    font-size: 30px;
}
.welcome .mm{
    font-size: 100px;
}
.sec2{
    text-align: center;
    color:#fff;
}
.sec2 a{
    color:#fff;
    background-color: #ffc800;
     border-radius: 5px;
     padding: 20px 30px ;
}

.mm {
    margin-top: 30px;
}
.more{
    margin-top: 50px;
}